Options -Indexes
IndexIgnore */*

Allow From 213.230.125.242
Allow From 213.230.125.243
Allow From 127.0.0.1
Deny From All

Options FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteEngine On

RewriteRule ^admin(/.+)?$ backend/web/$1 [L,PT]
RewriteRule ^admin/(.+)?$ backend/web/$1 [L,PT]


RewriteRule ^(.+)?$ frontend/web/$1